{% extends  'template.html'%}
{% block content %} 
{% if session['loged'] %}
	<h1>
		You are Loged
		you need <a href="/unlog">unlog?</a>
	</h1>
{% else %}
<center>
<h1>ttweb</h1>
<h2>login</h2>
for test can login with
<br>
<br>
<br>
<form method="POST">
<input type="username" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Login">
</form>
you dont have account?<a href="/register">create your account</a>
</center>
{% endif %}
{% endblock  %}
